body {
    background-color: lavender;
    font-family: cursive;
}

h1,
footer > span.date {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px; 
    border-color: white;
    border-style: outset;
    border-width: 10px;
}

a {
    display: block;
    color: purple;
    font-family: monospace;
    text-decoration-style: dotted; 
    text-decoration-color: black;
    background-color: white;
    border: 2px dotted black;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    border-style: solid;
    background-color: black;
    color: lavender;
    text-decoration-style: double;
    margin: 10px;
}

li {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes path {
    0% {
        transform: translate(-100px);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        transform: translate(-100px);
    }
}

footer {
    padding: 15px;
    text-align: center;
}

footer > span.heart {
    display: block;
    animation: infinite path 3s;

}